
@font-face {
    font-family: 'outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('trueType');
    font-weight: 400, 700;
    font-style: normal;
}
body{
    background-color: hsl(212, 45%, 89%);
    height: 100%;
    width: 100%;
    font-family: 'outfit' sans-serif;
}

.qr_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    background-color: white;
    border: 5vw solid white;
    border-radius: 2vw;
    margin: 10%;
    overflow: auto;
    word-wrap: break-word;
    width: 50%;
}

.img_style{
    align-self:center;
    width: 100%;
    border-radius: 2vw;
}

h3{
    align-self: center;
    width: 90%;
}

p{
    align-self: center;
    width: 90%;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}